<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script src='/javascripts/p5.min.js'></script>
    <script src='/javascripts/burgTown.js'></script>
  </body>
</html>
